/* Estilo de fuente para el requisito previo nº2 (aplicado a todo el documento HTML) y regla nº1 */
*{
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 375;
  font-style: normal;
}

/* Regla nº2: Cambiar el elemento 'body' */
body{
    margin: 0;
    padding-left: 20%;
    padding-right: 20%;
}

/* Regla nº3: Elementos 'h1' subrayados */

h1{
    text-decoration: underline;
    color: darkcyan;
    text-align: center;
}

/* Regla nº4: Elementos de clase 'selector' con color cian claro */

.selector{
    color: lightcyan;
}

/* Regla nº5: Elementos clase 'selectors' con relleno de un 5%, borde sólido de un píxel de color cian oscuro y esquinas redondeadas con valor 5px */

.selectors{
    padding: 5%;
    border: solid darkcyan 1px;
    border-radius: 5px;
}

/* Regla nº6: Elementos con id 'universal' con color amarillo dorado claro */

#universal{
    color: lightgoldenrodyellow
}

/* Regla nº7: Elementos h2 de clase 'selector' y elementos h2 de clase 'universal' con color de fondo cian oscuro, relleno de 1% y esquinas redondeadas con valor de 5px */

h2.selector{
    background-color: darkcyan;
    padding: 1%;
    border-radius: 5px;
}

h2#universal{
    background-color: darkcyan;
    padding: 1%;
    border-radius: 5px;
}

/* Regla nº8: Elementos 'span' con grosor de 900, color de fondo negro y color de texto blanco */

span{
    font-weight: 900;
    background-color: black;
    color: white;
}

/* Regla nº9: Elementos 'a' que sean hijos DIRECTOS de algún 'li', SIN DECORACIÓN DE TEXTO */

li > a{
    text-decoration: none;
}

/* Regla nº10: Elementos 'h3' color de fondo rgba(0, 139, 139, 0.529), relleno de 0.5px y esquinas redondeadas con valor de 5 píxeles */

h3{
    background-color: rgba(0, 139, 139, 0.529);
    padding: 0.5px;
    border-radius: 5px;
}

/* Regla nº11: Elementos 'div' que sean descendientes de un id 'gallery' tendrán con ancho del 100% */

#gallery div{
    width: 100%;
}

/* Regla nº12: Elementos 'img' con ancho del 100%, borde sólido de un píxel sólido de color cian oscuro y esquinas redondeadas con valor de 5 píxeles */

img{
    width: 100%;
    border: solid darkcyan 1px;
    border-radius: 5px;
}