/* Estilo de fuente para el requisito previo nยบ2 (aplicado a todo el documento HTML) */
*{
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 375;
  font-style: normal;
}